:root {
--prymery-band-color: #4D5AE5;
--dark-brand-color: #2E2F42;
--text-brand-color: #434455;
--light-brand-color: #F4F4FD;
}

body {
font-family: 'Roboto',
sans-serif;
background: #FFFFFF;
color: var(--text-brand-color);
}
a {
    text-decoration: none;
}
.display-none {
    display: none;
}
.logo-type-first {
    color: var(--prymery-band-color);
    width: 44px;
        height: 24px;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
}
.logo-type-second {
    color: var(--dark-brand-color);
    width: 71px;
        height: 24px;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
}
ul {
    list-style: none;
}
/* navigation */
.navigation .navigation-link {
    color: var(--dark-brand-color);
    font-family: 'Roboto';
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
}
.navigation .navigation-link:hover,
.navigation .navigation-link:focus {
    color: var(--text-brand-color);
} 
.navigation .navigation-link:active {
    color: var(--prymery-band-color);
}
/*adress*/
.adress .adress-link {
    color: var(--text-brand-color);
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
.adress .adress-link:hover,
.adress .adress-link:focus {
    color: var(--prymery-band-color);
}
/* button */
.filter-button {
    background-color: var(--light-brand-color);
    color: var(--prymery-band-color);
    font-family: 'Roboto';
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        cursor:pointer;
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    background-color: var(--prymery-band-color);
    color: #FFFFFF;
}
/* portfolio */
.banking-styles {
    color: var(--dark-brand-color);
    font-family: 'Roboto';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
}
.app-styles {
    color: var(--text-brand-color);
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}
/* footer */
.bg-style {
    width: 264px;
    color: var(--dark-brand-color);
    font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
}